.header-color{
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid{
  background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.avatar-img{
  height: 250px;
  padding-top: 5em;
  
}
.banner-text{
  text-align: left;

  
}  
 .banner-text h1{
   align-items: flex-start;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.welcome-note h1{
  font-family: 'Lobster',sans-serif;
  font-size: 50px;
  font: weight 2;;
  align-items: flex-start;
  padding-top: .8em;
}
.parafter-welcmnote p{
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
 .banner-text p{
  font-family: 'Oxygen', sans-serif;
   font-size: 15px;
   padding: 1.5em;
 }
 .social-links{
display: flex;
justify-content: space-between;
width: 60%;
margin: auto;

 }

 .social-links i{
   color: rgb(55, 63, 65);
   font-size: 3em;
   padding: 8px;
   padding-top: 1em;
 }
 .projects-grid{
   display: flex;
  
 }
 .contact-body{
   margin: auto;
   width: 75%;
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 2em;  
 }
 /* resume page */
.resume-right-col{
  background: #27221f;
  color: white;
  padding: 2em;
}
.contact-grid{
  font-style: ;
  justify-content: center;
  height: 100%;
  width: 80%;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  background: white;
  /* border: 8px solid royalblue; */
}

.contact-grid h2{
  font-family: 'Anton', sans-serif;
}

.contact-grid p{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}
.contact-grid hr{
border-top: dotted black;
width: 50%;
margin: auto;
}

.contact-list i{
  font-size: 50px;
  padding-right: 5rem;
}